<script type="text/javascript">
    $(document).ready(function () {
        $('.clickable-row').click(function () {
            var id = parseInt($(this).attr("serverID"));
            var url = '@Url.Action("Game", "Servers")' + "?serverID=" + id;
            window.location.href = url; 
            /*
                $.ajax({
                url: 'Url.Action("Game", "Servers")',
                type: 'GET',
                data: { serverID: id }
                });
            */
        })

        $('.clickable-row').hover(function () {
            $(this).css('cursor', 'pointer');
        })
    })
</script>

<div id="main-content">
    <p class="error" data-bind="text: error"></p>
    <div class="container">
        <h2>Game Servers</h2>
        <p>This lists the status of all KI Game Servers</p>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Server Name</th>
                    <th>IP Address</th>
                    <th>Status</th>
                    <th>Restarts In</th>
                    <th>Online Players</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model)
                {
                    <tr class="clickable-row" serverID="@item.ServerID">
                        <td>@item.ServerName</td>
                        <td>@item.IPAddress</td>
                        <td>@item.Status</td>
                        <td>@item.RestartTime</td>
                        <td>@item.OnlinePlayers</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



@section scripts {
    @Scripts.Render("~/bundles/knockout")
}