@model KIWebApp.Models.RptPlayerOverallStatsModel

@{
    ViewBag.Title = "PlayerStats";
}


<div class="dash-row">
    <h2 class="dark-gray-font dash-main-title">Overall Statistics For @Model.PlayerName</h2>
</div>

<div class="dash-background-color">
    <hr class="dash-background-lighter-color" />
    <div class="dash-row">
        <div class="dash-columns-eight">
            <div class="dash-header dash-header-large-font">@Model.TotalGameTime</div>
            <div class="dash-header dash-header-small-font">Total Hours</div>
        </div>
        <div class="dash-columns-eight">
            <div class="dash-header dash-header-large-font">@Model.TakeOffs</div>
            <div class="dash-header dash-header-small-font">Take Offs</div>
        </div>
        <div class="dash-columns-eight">
            <div class="dash-header dash-header-large-font">@Model.Landings</div>
            <div class="dash-header dash-header-small-font">Landings</div>
        </div>
        <div class="dash-columns-eight">
            <div class="dash-header dash-header-large-font">@Model.Kills</div>
            <div class="dash-header dash-header-small-font">Kills</div>
        </div>
        <div class="dash-columns-eight">
            <div class="dash-header dash-header-large-font">@Model.Deaths</div>
            <div class="dash-header dash-header-small-font">Deaths</div>
        </div>
        <div class="dash-columns-eight">
            <div class="dash-header dash-header-large-font">@Model.Ejects</div>
            <div class="dash-header dash-header-small-font">Ejects</div>
        </div>
        <div class="dash-columns-eight">
            <div class="dash-header dash-header-large-font">@Model.DepotResupplies</div>
            <div class="dash-header dash-header-small-font">Depot Resupplies</div>
        </div>
        <div class="dash-columns-eight">
            <div class="dash-header dash-header-large-font">@Model.CargoUnpacked</div>
            <div class="dash-header dash-header-small-font">Cargo Unpacked</div>
        </div>
    </div>
    <div class="dash-row">
        <div class="dash-columns-eight">
            <div class="dash-header dash-header-large-font">@Model.SlingLoadHooks</div>
            <div class="dash-header dash-header-small-font">Slingload Hooks</div>
        </div>
        <div class="dash-columns-eight">
            <div class="dash-header dash-header-large-font">@Model.SlingLoadUnhooks</div>
            <div class="dash-header dash-header-small-font">Slingload Unhooks</div>
        </div>
        <div class="dash-columns-eight">
            <div class="dash-header dash-header-large-font">@Model.TransportMounts</div>
            <div class="dash-header dash-header-small-font">Transport Pickups</div>
        </div>
        <div class="dash-columns-eight">
            <div class="dash-header dash-header-large-font">@Model.TransportDismounts</div>
            <div class="dash-header dash-header-small-font">Transport Drop Offs</div>
        </div>
        <div class="dash-columns-eight">
            <div class="dash-header dash-header-large-font">@Model.KillDeathEjectRatio</div>
            <div class="dash-header dash-header-small-font">Kill / Death Eject Ratio</div>
        </div>
        <div class="dash-columns-eight">
            <div class="dash-header dash-header-large-font">@Model.PlayerLives</div>
            <div class="dash-header dash-header-small-font">Current Lives</div>
        </div>
        <div class="dash-columns-eight">
            <div class="dash-header dash-header-large-font">@(Model.PlayerBanned? "Yes" : "No")</div>
            <div class="dash-header dash-header-small-font">Banned</div>
        </div>
    </div>
    <hr />
</div>
<div class="dash-background-lighter-color">
    <div class="dash-row">
        <div id="last-session" class="linechart"></div>
        <div id="last-5-sessions" class="linechart"></div>
    </div>
    <div class="dash-row">
        <div style="width: 52%; float:left; position:relative;">
            <div>
                <div class="piechart" id="airframe-chart"></div>
                <div class="piechart" id="score-chart"></div>
            </div>
        </div>
        <div style="width: 48%; float:left; position:relative;">
            <div>
                <h3 class="dark-gray-font">Stats</h3>
            </div>
            <div class="dash-columns-three" id="sortie-success" style="height: 190px;"></div>
            <div class="dash-columns-three" id="sling-success" style="height: 190px;"></div>
            <div class="dash-columns-three" id="transport-success" style="height: 190px;"></div>
        </div>
    </div>
</div>





@section scripts {
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/dynatable")
    @Scripts.Render("~/bundles/app")
    @Styles.Render("~/bundles/Content/statistics")
    @Scripts.Render("~/bundles/statistics")
    <script type="text/javascript">
        var model = @Html.Raw(Json.Encode(Model));
    </script>
}

<script type="text/javascript">
</script>