@model KIWebApp.Models.GameModel
@{
    ViewBag.Title = "Game";
}
<script>
    var ROOT = '@Url.Content("~")';
</script>

<style>
    .mapwrapper {
        margin: 20px auto;
        width: 800px;
    }

    #viewport {
        width: @(Model.Map.MapExists ? Model.Map.Resolution.Width : 800)px;
        height: @(Model.Map.MapExists ? Model.Map.Resolution.Height : 450)px;
        cursor: move;
        overflow: hidden;
        border: 5px solid black;
    }

    .mapwrapper {
        position: relative;
    }

    .map-control {
        position: absolute;
        top: 50px;
        right: 10px;
        background: url(@Url.Content("~/Images/map-control.png")) no-repeat;
        height: 63px;
        width: 100px;
    }

    .map-control a {
        height: 18px;
        width: 18px;
        display: block;
        text-indent: -999em;
        position: absolute;
        outline: none;
    }

    .map-control a:hover {
        background: #535353;
        opacity: .4;
        filter: alpha(opacity=40);
    }

    .map-control a.left {
        left: 39px;
        top: 22px;
    }

    .map-control a.right {
        left: 79px;
        top: 22px;
    }

    .map-control a.up {
        left: 59px;
        top: 2px;
    }

    .map-control a.down {
        left: 59px;
        top: 42px;
    }

    .map-control a.zoom {
        left: 2px;
        top: 8px;
        height: 21px;
        width: 21px;
    }

    .map-control a.back {
        left: 2px;
        top: 31px;
        height: 21px;
        width: 21px;
    }
</style>

<div class="dash-row">
    <h2 class="dark-gray-font dash-main-title">@Model.ServerName</h2>
</div>

<div class="dash-background-color">
    <hr class="dash-background-lighter-color" />
    <div class="dash-row">
        <div class="dash-columns-four">
            <div id="dash-status" class="dash-header dash-header-large-font">@Model.Status</div>
            <div class="dash-header dash-header-small-font">Status</div>
        </div>
        <div class="dash-columns-four">
            <div id="dash-restart" class="dash-header dash-header-large-font">@Model.RestartTime</div>
            <div class="dash-header dash-header-small-font">Restart Time</div>
        </div>
        <div class="dash-columns-four">
            <div id="dash-onlinecount" class="dash-header dash-header-large-font">@Model.OnlinePlayersCount</div>
            <div class="dash-header dash-header-small-font">Online</div>
        </div>
        <div class="dash-columns-four">
            <div class="dash-header dash-header-large-font">@Model.IPAddress.Replace("::ffff:", "")</div>
            <div class="dash-header dash-header-small-font">IP</div>
        </div>
    </div>
    <hr />
</div>

<div align="center">
    <div id="Heading" style="display: inline-block; text-align: left"></div>
</div>

    <div id="GameMap" style="position:relative">
        <div class="mapwrapper">
            <div id="viewport">
                @{
                    if (Model.Map.MapExists)
                    {
                        <div style="background: url(@Url.Content("~/" + Model.Map.ImagePath)) no-repeat; width: @(Model.Map.Resolution.Width)px; height: @(Model.Map.Resolution.Height)px;" class='map-layer'>
                            <!--top level map content goes here-->
                            <div class="mapcontent">
                                <!--map content goes here-->
                            </div>
                        </div>
                    }
                    else
                    {
                        <div style="background: url(@Url.Content("~/Images/map/map-none-800x450.jpg")) no-repeat; width: 800px; height: 450px;" class='map-layer'>
                            <!--top level map content goes here-->
                            <div class="mapcontent">
                                <!--map content goes here-->
                            </div>
                        </div>
                    }
                }

                @foreach (var item in @Model.Map.Layers)
            {
                string h = item.Resolution.Height + "px";
                string w = item.Resolution.Width + "px";
                string p = "~/" + item.ImagePath;
                    <div style="height: @h; width: @w;" class='map-layer'>
                        <img src="@Url.Content(@p)" alt="" />
                        <div class="mapcontent">
                            <!--map content goes here-->
                        </div>
                    </div>
                }
            </div>
            <div class="map-control">
                <a href="#left" class="left">Left</a>
                <a href="#right" class="right">Right</a>
                <a href="#up" class="up">Up</a>
                <a href="#down" class="down">Down</a>
                <a href="#zoom" class="zoom">Zoom</a>
                <a href="#zoom_out" class="back">Back</a>
            </div>
        </div>
    </div>

    <div id="OnlinePlayersTable">
        <table id="players-table" class="table table-bordered" style="width: 60%;" align="center">
            <caption style="text-align:center"><b>Online Players</b></caption>
            <thead>
                <tr>
                    <th><a>Role</a></th>
                    <th><a>Player Name</a></th>
                    <th><a>Side</a></th>
                    <th><a>Lives</a></th>
                    <th><a>Ping</a></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model.OnlinePlayers)
                {
                    string ImagePath = "~/" + item.RoleImage;

                    <tr class="clickable-row" playerUCID="@item.UCID">
                        <td><img src="@Url.Content(ImagePath)" />  @item.Role</td>
                        <td>@item.Name</td>
                        <td>@item.Side</td>
                        <td>@item.Lives</td>
                        <td>@item.Ping</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    @section scripts {
        @Scripts.Render("~/bundles/signalr")
        <script src="~/signalr/hubs"></script>
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/tooltipster")
        @Scripts.Render("~/bundles/gamemap")
        @Styles.Render("~/bundles/Content/statistics")

        <script type="text/javascript">
            var MODEL = @Html.Raw(Json.Encode(Model));
        </script>

        <script type="text/javascript">
            $(document).ready(function () {
                $(document).ready(function () {

                    // Apply line color to each column
                    $('.dash-columns-four').each(function (i) {
                        var cl = "";
                        switch (i) {
                            case 0:
                                cl = 'dash-col-lblue';
                                break;
                            case 1:
                                cl = 'dash-col-lorange';
                                break;
                            case 2:
                                cl = 'dash-col-lred';
                                break;
                            case 3:
                                cl = 'dash-col-lgreen';
                                break;
                            case 4:
                                cl = 'dash-col-lgold';
                                break;
                            case 5:
                                cl = 'dash-col-lpurple';
                                break;
                            case 6:
                                cl = 'dash-col-orange';
                                break;
                            case 7:
                                cl = 'dash-col-tan';
                                break;
                            case 8:
                                cl = 'dash-col-green';
                                break;
                            case 9:
                                cl = 'dash-col-brown';
                                break;
                            case 10:
                                cl = 'dash-col-dpink';
                                break;
                            case 11:
                                cl = 'dash-col-dark';
                                break;
                            case 12:
                                cl = 'dash-col-gray';
                                break;
                            default:
                                cl = 'dash-col-lblue';
                        };

                        $(this).addClass(cl);
                    });
                });

                /*
                function myRowWriter(rowIndex, record, columns, cellWriter) {
                    var tr = '';

                    // grab the record's attribute for each column
                    for (var i = 0, len = columns.length; i < len; i++) {
                        tr += cellWriter(columns[i], record);
                    }

                    return '<tr class="clickable-row">' + tr + '</tr>';
                };

                $('#players-table').dynatable({
                    features: {
                        paginate: false,
                        sort: true,
                        search: false,
                        recordCount: false,
                        perPageSelect: false
                    },
                    writers: {
                        _rowWriter: myRowWriter
                    }
                });
                */
            });
        </script>
    }
