<script type="text/javascript">
    $(document).ready(function () {
        function RegisterHandlers() {
            $('.clickable-row').click(function () {
                var serverIDDiv = $(this).closest('tr').find('.ServerID');
                var id = parseInt(serverIDDiv.text());
                var url = '@Url.Action("Game", "Servers")' + "?serverID=" + id;
                window.location.href = url;
            });


            $('.clickable-row').hover(function () {
                $(this).css('cursor', 'pointer');
                $(this).css('background-color', '#A5A5A5');
            }, function () {
                $(this).css('background-color', '');
            });
        };

        $('#servers-table').dynatable({
            writers: {
                _rowWriter: myRowWriter
            }
        }).bind('dynatable:afterUpdate', processingComplete);

        function processingComplete(a) {
            RegisterHandlers();
        };

        function myRowWriter(rowIndex, record, columns, cellWriter) {
            var tr = '';

            // grab the record's attribute for each column
            for (var i = 0, len = columns.length; i < len; i++) {
                tr += cellWriter(columns[i], record);
            }

            return '<tr class="clickable-row">' + tr + '</tr>';
        };

        RegisterHandlers();



    });
</script>

<div id="main-content">
    <p class="error" data-bind="text: error"></p>
    <div class="container">
        <h2>Game Servers</h2>
        <p>This lists the status of all KI Game Servers</p>
        <table id="servers-table" class="table table-bordered" >
            <thead >
                <tr style="background-color: #111010">
                    <th>Server Name</th>
                    <th>IP Address</th>
                    <th>Status</th>
                    <th>Restarts In</th>
                    <th>Online Players</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model)
                {
                    string imgurl = "~/" + item.StatusImage;

                    <tr class="clickable-row">
                        <td><div class="ServerID" style="display:none;">@item.ServerID</div><b>@item.ServerName</b></td>
                        <td>@item.IPAddress</td>
                        <td><img src="@Url.Content(imgurl)" width="16" height="16" /> @item.Status</td>
                        <td>@item.RestartTime</td>
                        <td>@item.OnlinePlayers</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



@section scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/dynatable")
}