<div id="main-content">
    <p class="error" data-bind="text: error"></p>
    <div class="container">
        <h2>Game Servers</h2>
        <p>This lists the status of all KI Game Servers</p>
        <table id="servers-table" class="table table-bordered" >
            <thead >
                <tr>
                    <th>Server Name</th>
                    <th>IP Address</th>
                    <th>Status</th>
                    <th>Restarts In</th>
                    <th>Online Players</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model)
                {
                    string imgurl = "~/" + item.StatusImage;

                    <tr class="clickable-row">
                        <td><div class="ServerID" style="display:none;">@item.ServerID</div><b>@item.ServerName</b><div style="float:right;" align="right"><img class="clickable-img" title="View Server Statistics" src="@Url.Content("~/Images/icon-stats-256x256.png")" height="16" width="16" /></div></td>
                        <td>@item.IPAddress</td>
                        <td><img src="@Url.Content(imgurl)" width="16" height="16" /> @item.Status</td>
                        <td>@item.RestartTime</td>
                        <td>@item.OnlinePlayers</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



@section scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/dynatable")
    @Scripts.Render("~/bundles/tooltipster")
    @Scripts.Render("~/bundles/app")
}

<script type="text/javascript">
    $(document).ready(function () {
        RegisterTable('#servers-table', function () {
            var serverIDDiv = $(this).closest('tr').find('.ServerID');
            var id = parseInt(serverIDDiv.text());
            var url = '@Url.Action("Game", "Servers")' + "?serverID=" + id;
            window.location.href = url;
            return false;
        });
    
        $('.clickable-img').hover(function () {
            $(this).css('cursor', 'pointer');
            $(this).css('background-color', '#B5B5B5');
        }, function () {
            $(this).css('background-color', '');
        });

        $('.clickable-img').click(function () {
            var serverIDDiv = $(this).closest('tr').find('.ServerID');
            var id = parseInt(serverIDDiv.text());
            var url = '@Url.Action("ServerStats", "Statistics")' + "?serverID=" + id;
            window.location.href = url;
            return false;
        });

        $('.clickable-img').tooltipster({
            theme: 'tooltipster-noir'
        });   
    });
</script>